<div class="large-container center-block">
    <h1>Mis articulos</h1>

    <%# busca en la carpeta views para el modelo un archivo que se llame igual que el modelo con el _ %>
    <%= render @articles %>  
</div>